.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .footer-component {
    top: calc(100% - 64px);
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
  }
}

.product-detail-container {
  padding-bottom: 64px;
  position: absolute;
  width: 100%;
  top: 60px;
  overflow: auto;
  flex: 1 1 auto;
  height: calc(100% - 60px);
}

.product-comment-wrapper {
  width: 100%;
  top: calc(100% - var(--comment-wrapper-height));
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  transition: all 300ms ease;
}
