p {
  font-family: 'Roboto';
  font-style: normal;
  color: black;
  letter-spacing: 0.4px;
}
.loyalty-wrapper {
  width: 100%;
  padding: 10px 12px;
  background: #F7F9F9;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.my-wallet-wrapper, .loyalty-payment-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: white;
}
.my-wallet-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.my-wallet-content {
  padding: 14px 8px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-container {
  display: flex;
  flex-direction: row;
}
.title-wrapper {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-icon {
  margin-right: 8px;
  font-size: 22px;
  height: fit-content;
  width: fit-content;
}
.my-points {
  display: flex;
  flex-direction: row;
  height: 22px;
  align-items: center;
}
.offer-icon {
  font-size: 14px;
  margin-right: 5px;
  height: fit-content;
  width: fit-content;
  color: var(--customer-color);
}

.my-points-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.rewards-sybol {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-left: 2px;
}
.available-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.available-text {
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.accumulated-rewards,
.exchange-points {
  box-sizing: content-box;
  padding: 13px;
  height: 15px;
  border-top: 1px solid #CBD5E1;
  transition: all 300ms ease;
  overflow: hidden;
}
.exchange-points.hide {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  border-top: 1px solid transparent;
}
.only-exchange-points,
.only-accumulated-rewards {
  border-top: none;
}

.accumulated-rewards-text,
.exchange-rewards-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.accumulated-rewards-span,
.exchange-rewards-span {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.not-enough-points-text {
  font-size: 15px;
  font-style: bold;
  font-weight: 700;
  color: red;
  display: flex;
  align-items: center;
  gap: 5px;

  @media (max-width: 375px) {
      font-size: 13.5px;
  }

  @media (max-width: 330px) {
      font-size: 11.5px;
  }
}

.bottom-shadow{
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);
}

.all-shadow{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.loyalty-payment-title-container {
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px 8px 8px ;
  box-sizing: content-box;
}

.payment-icon,
.dropdown-icon {
  margin-right: 8px;
  font-size: 18px;
  height: fit-content;
  width: fit-content;
}

.dropdown-icon {
  margin-left: auto;
  font-size: 23px;
  transition: all 300ms ease;
}
.dropdown-icon.rotate {
  transform: rotate(-180deg);
}

.payment-distribution-container{
  overflow: hidden;
  height: 170px;
  position: relative;
  transition: all 300ms ease;
  width: 270px;
  padding: 0 20px 15px 20px;
  align-self: center;
  user-select: none;
  box-sizing: content-box;
}

.payment-distribution-container.hide{
  height: 0px;
  padding: 0;
}

.card-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.currency-payment, .points-payment {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.points-payment {
  overflow: visible;
  height: 100%;
  width: 0%;
  border-radius: 15px;
  background-color: var(--customer-color);
}

.currency-payment {
  overflow: hidden;
  background-color: #E0E0E0;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.header.points {
  justify-content: flex-start;
}

.header.cash {
  z-index: 2;
}

.loyalty-icon-container {
  display: flex;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 8px;
  > .payment-icon {
      margin: 0;
      font-size: 30px;
  }
  > .offer-icon {
      margin: 0;
      font-size: 30px;
      color: black;
  }
}

.distribution-quantity-container {
  width: 100%;
  overflow: visible;
  box-sizing: border-box;
  z-index: 2;
}

.amount-text {
  line-height: 19px;
  font-size: 13px;
  font-weight: 500;
  overflow: visible;
  margin: 8px;
}

.amount-text.cash {
  text-align: right;
  white-space: nowrap;
}

.amount-text.points {
  text-align: left;
  white-space: nowrap;
  padding-right: 8px;
}

.dragger-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  background-color: var(--customer-color);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: grab;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.dragging {
  cursor: grabbing;
}

.dragger-icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0 8px 8px 8px;
}

.progress-bar {
  border-radius: 4px;
  background-color: #E0E0E0;
  width: 100%;
  height: 8px;
}

.bar {
  width: 0%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--customer-color);
}
