mat-tab-group {

  .mat-tab-header {
    border: 0;
  }

  .mat-tab-label {
    height: var(--categorized-navbar-size);
    min-width: 0;
  }

  .mat-tab-label-active {
    opacity: 1;
  }

  &.mat-tab-group.mat-primary .mat-ink-bar {
    height: 2px;
    border-radius: 10px;
    background-color: var(--customer-color);
  }
  &.mat-tab-group.mat-primary.home-tabs {
    width: 100%;

    .mat-tab-header {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 5px;
      overflow: hidden;
      background-color: #F2F2F2;
    }

    .mat-ink-bar {
      height: 0px;
    }

    .mat-tab-label {
      height: var(--categorized-navbar-size);
      margin: 2px;
      min-width: 0;
    }

    .mat-tab-label-active {
      background-color: white;
      border-radius: 5px;
      color: var(--customer-color);
    }

    .search-box-container {
      padding: 5px 16px 5px 16px;
    }

    .mat-tab-body-content, .mat-tab-body-wrapper {
      height: 100% !important;
    }
  }

  .mat-elevation-z4 {
    box-shadow: none;
  }

  .mat-tab-header-pagination-chevron {
    border-color: var(--customer-color);
  }
}
