.content-wrapper {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  align-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  grid-row-gap: 12px;
  grid-column-gap: 8px;
  flex: 1 1 auto;
  padding: 24px;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}

.logo {
  overflow: hidden;
  margin: 0 auto;
  width: 120px;

  i {
    color: rgb(211, 14, 14);
    font-size: 120px
  }
}

.subtitle {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #263576;
}

.message {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #303030;
  margin-bottom: 12px;
}

.button-return {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}
