.featured-items-list-container {
  align-content: start;
  display: grid;
  flex: 1 1 auto;
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  margin: 4px 0 8px;
  padding: 8px 8px 12px;
}

.featured-item-container {
  display: flex;
  align-items: center;
  margin: 0 18px 18px 18px;
}

.featured-item-card-wrapper {
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
  box-shadow: 1px 8px 12px 3px rgb(0 0 0 / 20%);
  height: 100px;
  overflow: hidden;
}

.featured-item-card {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 6px;
  border: 0;

  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  @media (max-width: 380px) {
    flex-grow: 1;
  }
}

.featured-item-image {
  height: 100%;
  width: 40%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.banner-image{
  //object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-image {
  height: 80px;
  overflow: hidden;
  width: 80px;
  border-radius: 8px;
  justify-content: center;
  display: flex;

  >img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.product-content {
  width: calc(100% - 60px);
  overflow: hidden;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-item-content {
  width: 60%;
  overflow: hidden;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.featured-item-name {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 4px;
  max-width: 100%;

  > p {
    color: var(--customer-color);
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 2.4em;
    overflow: hidden;

    max-height: none;
    line-height: 16px;
    white-space: nowrap;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.featured-item-description {
  color: #646464;
  font-size: 10px;
  font-weight: 300;
  overflow: hidden;
  max-height: 60%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  &::first-letter {
    text-transform: uppercase;
  }
}

.featured-item-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 6px;

  .detail-button {
    background-color: #FFF;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
    color: var(--customer-color);
    border: 1px solid var(--customer-color)
  }
}
